<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Hello Awesomeness</title>
        <script src="./main.jsx" charset="utf-8"></script>
    </head>
    <body>
        <h1>Hello World!</h1>
    </body>
</html>
